spring:
  cloud:
    gateway:
      server:
        webmvc:
          routes:
            - id: authorization-server
              uri: lb://authorization-server
              predicates:
                - Path=/api/security/**

            - id: microservice-product-v1
              uri: lb://microservice-products
              predicates:
                - Path=/api/v1/products/**
                - Method=GET,POST,PUT,DELETE

            - id: microservice-product-v2
              uri: lb://microservice-products
              predicates:
                - Path=/api/v2/products/**

            - id: microservice-item
              uri: lb://microservice-items
              predicates:
                - Path=/api/v1/items/**

            - id: microservice-user
              uri: lb://microservice-users
              predicates:
                - Path=/api/v1/users/**
resilience4j:
  circuitbreaker:
    configs:
      default:
        sliding-window-size: 10
        failure-rate-threshold: 50
        wait-duration-in-open-state:
          seconds: 10
        max-wait-duration-in-half-open-state:
          seconds: 10
        permitted-number-of-calls-in-half-open-state: 5
        slow-call-duration-threshold:
          seconds: 2
        slow-call-rate-threshold: 50
    instances:
      products:
        base-config: default
  ratelimiter:
    configs:
      default:
        limit-for-period: 10
        limit-refresh-period:
          seconds: 1
        timeout-duration:
          seconds: 5
    instances:
      products:
        base-config: default

logging:
  level:
    org:
      springframework:
        security: DEBUG