spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://127.0.0.1:8093
      client:
        registration:
          oidc-client:
            provider: "spring"
            client-id: "oidc-client"
            client-secret: "secret"
            client-authentication-method: "client_secret_basic"
            authorization-grant-type: "authorization_code"
            redirect-uri: "http://127.0.0.1:8080/authorized"
            scope:
              - "openid"
              - "profile"
            client-name: "gateway-app"
        provider:
          spring:
            issuer-uri: http://127.0.0.1:8093
  cloud:
    gateway:
      server:
        webmvc:
          routes:
            - id: authorization-server
              uri: lb://authorization-server
              predicates:
                - Path=/api/security/**

            - id: microservice-product-v1
              uri: lb://microservice-product
              predicates:
                - Path=/api/v1/products/**
                - Method=GET,POST,PUT,DELETE
              filters:
                - name: CircuitBreaker
                  args:
                    name: products
                    statusCodes: 500
                    fallbackUri: forward:/api/v1/items/gatewayErrorFallback

            - id: microservice-product-v2
              uri: lb://microservice-product
              predicates:
                - Path=/api/v2/products/**
              filters:
                - CircuitBreaker=products

            - id: microservice-item
              uri: lb://microservice-item
              predicates:
                - Path=/api/v1/items/**

            - id: microservice-user
              uri: lb://microservice-user
              predicates:
                - Path=/api/v1/users/**

resilience4j:
  circuitbreaker:
    configs:
      default:
        sliding-window-size: 10
        failure-rate-threshold: 50
        wait-duration-in-open-state:
          seconds: 10
        max-wait-duration-in-half-open-state:
          seconds: 10
        permitted-number-of-calls-in-half-open-state: 5
        slow-call-duration-threshold:
          seconds: 2
        slow-call-rate-threshold: 50
    instances:
      products:
        base-config: default
  ratelimiter:
    configs:
      default:
        limit-for-period: 10
        limit-refresh-period:
          seconds: 1
        timeout-duration:
          seconds: 5
    instances:
      products:
        base-config: default