version: "3.9"

services:
  eureka-server:
    image: jozzab/spring-microservices-on-aws-eureka-server
    build:
      context: .
      dockerfile: Dockerfile-eureka-server
    container_name: spring-ms-eureka-server
    labels:
      project: spring-microservices-on-aws
    ports:
      - "8761:8761"
    networks:
      - spring-ms-net
    healthcheck:
      test: [ "CMD", "wget", "-qO-", "http://localhost:8761/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 5

  microservice-items:
    image: jozzab/spring-microservices-on-aws-microservice-items
    build:
      context: .
      dockerfile: Dockerfile-microservice-items
    depends_on:
      eureka-server:
        condition: service_healthy
    container_name: spring-ms-microservice-items
    env_file:
      - ./microservice-items/.env
    labels:
      project: spring-microservices-on-aws
    ports:
      - "8081:8081"
    networks:
      - spring-ms-net

  microservice-products:
    image: jozzab/spring-microservices-on-aws-microservice-products
    build:
      context: .
      dockerfile: Dockerfile-microservice-products
    depends_on:
      eureka-server:
        condition: service_healthy
    container_name: spring-ms-microservice-products
    env_file:
      - ./microservice-products/.env
    labels:
      project: spring-microservices-on-aws
    ports:
      - "8082:8082"
    networks:
      - spring-ms-net
networks:
  spring-ms-net:
    driver: bridge
